In [776]:
import pandas as pd

In [777]:
file_to_load = "Resources/purchase_data.csv"

In [778]:
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [779]:
count_players = purchase_data["SN"].unique()
#print(f"Total Players: {len(count_players)}")
total_players = len(count_players)
#print(f"Total Players: {total_players}")

In [780]:
unique_items = purchase_data["Item Name"].unique()
#print(f"Number of Uniques Items: {len(unique_items)}")
num_unique_items = len(unique_items)
#print(f"Number of Uniques Items: {num_unique_items}")

In [781]:
total_purchases = purchase_data["Price"].count()
sum_of_purchases = purchase_data["Price"].sum()
average_purchase = sum_of_purchases / total_purchases
#average purchase

In [782]:
purchasing_stat = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                                     "Average Price":["${:.2f}".format(average_purchase)],
                                     "Number of Purchases":[total_purchases],
                                     "Total Revenue":["${:.2f}".format(sum_of_purchases)]})
purchasing_stat

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [783]:
purchase_data["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [784]:
male_count = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_count
male_total = len(male_count["SN"].unique())
male_total

484

In [785]:
male_percent = (male_total / total_players)*100
male_percent

84.02777777777779

In [786]:
female_count = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_count
female_total = len(female_count["SN"].unique())
female_total

81

In [787]:
female_percent = (female_total / total_players)*100
female_percent

14.0625

In [788]:
other_count = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_count
other_total = len(other_count["SN"].unique())
other_total

11

In [789]:
other_percent = (other_total / total_players)*100
other_percent

1.9097222222222223

In [790]:
gender_counts = pd.DataFrame({"Total Count":{"Male":male_total,
                                     "Female":female_total,
                                     "Other / Non-Disclosed":other_total},
                              "Percentage of Players":{"Male":"{:.2f}%".format(male_percent),
                                                       "Female":"{:.2f}%".format(female_percent),
                                                       "Other / Non-Disclosed":"{:.2f}%".format(other_percent)}})
gender_counts

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [791]:
male_purchase_count = len(male_count)
female_purchase_count = len(female_count)
other_purchase_count = len(other_count)

#male_purchase_count
#female_purchase_count
#other_purchase_count

In [792]:
male =  purchase_data.loc[purchase_data['Gender']=="Male"]
female =  purchase_data.loc[purchase_data['Gender']=="Female"]
other =  purchase_data.loc[purchase_data['Gender']=="Other / Non-Disclosed"]

male

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [793]:
male_average_price = male["Price"].mean()
male_average_price

female_average_price = female["Price"].mean()
female_average_price

other_average_price = other["Price"].mean()
other_average_price

3.3460000000000005

In [794]:
male_total_price = male["Price"].sum()
male_total_price

female_total_price = female["Price"].sum()
female_total_price

other_total_price = other["Price"].sum()
other_total_price

50.19

In [795]:
male_average_player = male_total_price / male_total
male_average_player

female_average_player = female_total_price / female_total
female_average_player

other_average_player = other_total_price / other_total
other_average_player

4.5627272727272725

In [796]:
gender_purchasing_analysis = pd.DataFrame({"Purchase Count":{"Male":male_purchase_count,
                                     "Female":female_purchase_count,
                                     "Other / Non-Disclosed":other_purchase_count},
                              "Average Purchase Price":{"Male":"${:.2f}".format(male_average_price),
                                                       "Female":"${:.2f}".format(female_average_price),
                                                       "Other / Non-Disclosed":"${:.2f}".format(other_average_price)},
                             "Total Purchase Value":{"Male":"${:.2f}".format(male_total_price),
                                                       "Female":"${:.2f}".format(female_total_price),
                                                       "Other / Non-Disclosed":"${:.2f}".format(other_total_price)},
                            "Total Purchase per Person":{"Male":"${:.2f}".format(male_average_player),
                                                       "Female":"${:.2f}".format(female_average_player),
                                                       "Other / Non-Disclosed":"${:.2f}".format(other_average_player)}})
gender_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [797]:
purchase_data["Age"].describe()



age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


pd.cut(purchase_data["Age"], age_bins, labels=age_labels)

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [798]:
age_count_un10 = purchase_data.loc[purchase_data["Age Range"] == "<10"]
age_total_un10 = len(age_count_un10["SN"].unique())
age_total_un10

17

In [799]:
age_count_10_14 = purchase_data.loc[purchase_data["Age Range"] == "10-14"]
age_total_10_14 = len(age_count_10_14["SN"].unique())
age_total_10_14

22

In [800]:
age_count_15_19 = purchase_data.loc[purchase_data["Age Range"] == "15-19"]
age_total_15_19 = len(age_count_15_19["SN"].unique())
age_total_15_19

107

In [801]:
age_count_20_24 = purchase_data.loc[purchase_data["Age Range"] == "20-24"]
age_total_20_24 = len(age_count_20_24["SN"].unique())
age_total_20_24

258

In [802]:
age_count_25_29 = purchase_data.loc[purchase_data["Age Range"] == "25-29"]
age_total_25_29 = len(age_count_25_29["SN"].unique())
age_total_25_29

77

In [803]:
age_count_30_34 = purchase_data.loc[purchase_data["Age Range"] == "30-34"]
age_total_30_34 = len(age_count_30_34["SN"].unique())
age_total_30_34

52

In [804]:
age_count_35_39 = purchase_data.loc[purchase_data["Age Range"] == "35-39"]
age_total_35_39 = len(age_count_35_39["SN"].unique())
age_total_35_39

31

In [805]:
age_count_40 = purchase_data.loc[purchase_data["Age Range"] == "40+"]
age_total_40 = len(age_count_40["SN"].unique())
age_total_40

12

In [806]:
percent_un10 = (age_total_un10 / total_players)*100
percent_un10

2.951388888888889

In [807]:
percent_10_14 = (age_total_10_14 / total_players)*100
percent_10_14

3.8194444444444446

In [808]:
percent_15_19 = (age_total_15_19  / total_players)*100
percent_15_19

18.57638888888889

In [809]:
percent_20_24 = (age_total_20_24  / total_players)*100
percent_20_24

44.79166666666667

In [810]:
percent_25_29 = (age_total_25_29  / total_players)*100
percent_25_29

13.368055555555555

In [811]:
percent_30_34 = (age_total_30_34  / total_players)*100
percent_30_34

9.027777777777777

In [812]:
percent_35_39 = (age_total_35_39 / total_players)*100
percent_35_39

5.381944444444445

In [813]:
percent_40 = (age_total_40 / total_players)*100
percent_40

2.083333333333333

In [814]:
age_amounts = pd.DataFrame({"Total Count":{"<10":age_total_un10,
                                     "10-14":age_total_10_14,
                                     "15-19":age_total_15_19,
                                         "20-24":age_total_20_24,
                                     "25-29":age_total_25_29,
                                     "30-34":age_total_30_34,
                                         "35-39":age_total_35_39,
                                     "40+":age_total_40},
                              "Percentage of Players":{"<10":"{:.2f}%".format(percent_un10),
                                     "10-14":"{:.2f}%".format(percent_10_14),
                                     "15-19":"{:.2f}%".format(percent_15_19),
                                         "20-24":"{:.2f}%".format(percent_20_24),
                                     "25-29":"{:.2f}%".format(percent_25_29),
                                     "30-34":"{:.2f}%".format(percent_30_34),
                                         "35-39":"{:.2f}%".format(percent_35_39),
                                     "40+":"{:.2f}%".format(percent_40)}})
age_amounts

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [815]:
purchase_count_un10= len(age_count_un10)
purchase_count_10_14= len(age_count_10_14)
purchase_count_15_19= len(age_count_15_19)
purchase_count_20_24= len(age_count_20_24)
purchase_count_25_29= len(age_count_25_29)
purchase_count_30_34= len(age_count_30_34)
purchase_count_35_39= len(age_count_35_39)
purchase_count_40= len(age_count_40)

purchase_count_un10
purchase_count_10_14
purchase_count_15_19
purchase_count_20_24
purchase_count_25_29
purchase_count_30_34
purchase_count_35_39
purchase_count_40

13

In [816]:
average_price_un10 = purchase_data.loc[purchase_data["Age Range"]=="<10"].Price.mean()
average_price_10_14 = purchase_data.loc[purchase_data["Age Range"]=="10-14"].Price.mean()
average_price_15_19 = purchase_data.loc[purchase_data["Age Range"]=="15-19"].Price.mean()
average_price_20_24 = purchase_data.loc[purchase_data["Age Range"]=="20-24"].Price.mean()
average_price_25_29 = purchase_data.loc[purchase_data["Age Range"]=="25-29"].Price.mean()
average_price_30_34 = purchase_data.loc[purchase_data["Age Range"]=="30-34"].Price.mean()
average_price_35_39 = purchase_data.loc[purchase_data["Age Range"]=="35-39"].Price.mean()
average_price_40 = purchase_data.loc[purchase_data["Age Range"]=="40+"].Price.mean()
               
average_price_un10
average_price_10_14
average_price_15_19
average_price_20_24
average_price_25_29
average_price_30_34
average_price_35_39
average_price_40

2.9415384615384617

In [817]:
total_price_un10 = purchase_data.loc[purchase_data["Age Range"]=="<10"].Price.sum()
total_price_10_14 = purchase_data.loc[purchase_data["Age Range"]=="10-14"].Price.sum()
total_price_15_19 = purchase_data.loc[purchase_data["Age Range"]=="15-19"].Price.sum()
total_price_20_24 = purchase_data.loc[purchase_data["Age Range"]=="20-24"].Price.sum()
total_price_25_29 = purchase_data.loc[purchase_data["Age Range"]=="25-29"].Price.sum()
total_price_30_34 = purchase_data.loc[purchase_data["Age Range"]=="30-34"].Price.sum()
total_price_35_39 = purchase_data.loc[purchase_data["Age Range"]=="35-39"].Price.sum()
total_price_40 = purchase_data.loc[purchase_data["Age Range"]=="40+"].Price.sum()

total_price_un10
total_price_10_14
total_price_15_19
total_price_20_24
total_price_25_29
total_price_30_34
total_price_35_39
total_price_40

38.24

In [818]:
average_person_price_un10 = total_price_un10 / age_total_un10
average_person_price_10_14 = total_price_10_14 / age_total_10_14
average_person_price_15_19 = total_price_15_19 / age_total_15_19
average_person_price_20_24 = total_price_20_24 / age_total_20_24
average_person_price_25_29 = total_price_25_29 / age_total_25_29
average_person_price_30_34 = total_price_30_34 / age_total_30_34
average_person_price_35_39 = total_price_35_39 / age_total_35_39
average_person_price_40 = total_price_40 / age_total_40

average_person_price_un10
average_person_price_10_14
average_person_price_15_19
average_person_price_20_24
average_person_price_25_29
average_person_price_30_34
average_person_price_35_39
average_person_price_40

3.186666666666667

In [819]:
age_purchasing_analysis = pd.DataFrame({"Purchase Count":{"<10":purchase_count_un10,
                                     "10-14":purchase_count_10_14,
                                      "15-19":purchase_count_15_19,
                                       "20-24":purchase_count_20_24,
                                        "25-29":purchase_count_25_29,
                                     "30-34":purchase_count_30_34,
                                         "35-39":purchase_count_35_39,
                                         "40+":purchase_count_40},
                              "Average Purchase Price":{"<10":"${:.2f}".format(average_price_un10),
                                                       "10-14":"${:.2f}".format(average_price_10_14),
                                                       "15-19":"${:.2f}".format(average_price_15_19),
                                                       "20-24":"${:.2f}".format(average_price_20_24),
                                                       "25-29":"${:.2f}".format(average_price_25_29),
                                                       "30-34":"${:.2f}".format(average_price_30_34),
                                                        "35-39":"${:.2f}".format(average_price_35_39),
                                                       "40+":"${:.2f}".format(average_price_40)},
                             "Total Purchase Value":{"<10":"${:.2f}".format(total_price_un10),
                                                       "10-14":"${:.2f}".format(total_price_10_14),
                                                       "15-19":"${:.2f}".format(total_price_15_19),
                                                       "20-24":"${:.2f}".format(total_price_20_24),
                                                       "25-29":"${:.2f}".format(total_price_25_29),
                                                       "30-34":"${:.2f}".format(total_price_30_34),
                                                        "35-39":"${:.2f}".format(total_price_35_39),
                                                       "40+":"${:.2f}".format(total_price_40)},
                            "Total Purchase per Person":{"<10":"${:.2f}".format(average_person_price_un10),
                                                       "10-14":"${:.2f}".format(average_person_price_10_14),
                                                       "15-19":"${:.2f}".format(average_person_price_15_19),
                                                       "20-24":"${:.2f}".format(average_person_price_20_24),
                                                       "25-29":"${:.2f}".format(average_person_price_25_29),
                                                       "30-34":"${:.2f}".format(average_person_price_30_34),
                                                        "35-39":"${:.2f}".format(average_person_price_35_39),
                                                       "40+":"${:.2f}".format(average_person_price_40)}})
age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [820]:
sn_group = purchase_data.groupby("SN").agg({"Price": ["count", "mean", "sum"]})
sn_group
sn_group.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
sn_group = sn_group.sort_values("Total Purchase Value", ascending=False)
sn_group["Average Purchase Price"] = sn_group.apply(lambda x: "${:.2f}".format(x["Average Purchase Price"]), axis=1)
sn_group["Total Purchase Value"] = sn_group.apply(lambda x: "${:.2f}".format(x["Total Purchase Value"]), axis=1)
sn_top_5 = sn_group.head(5)
sn_top_5

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [821]:
item_group = purchase_data.groupby(["Item ID", "Item Name"]).agg({"Item Name": "count", "Price": ["mean","sum"]})
item_group
item_group.columns = ["Purchase Count", "Item Price", "Total Purchase Value"]
item_group_pop = item_group.sort_values("Purchase Count", ascending=False)
item_group_pop
item_group_pop["Item Price"] = item_group_pop.apply(lambda x: "${:.2f}".format(x["Item Price"]), axis=1)
item_group_pop["Total Purchase Value"] = item_group_pop.apply(lambda x: "${:.2f}".format(x["Total Purchase Value"]), axis=1)
item_top_5_pop = item_group_pop.head(5)
item_top_5_pop

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [822]:
item_group_val = item_group.sort_values("Total Purchase Value", ascending=False)
item_group_val
item_group_val["Item Price"] = item_group_val.apply(lambda x: "${:.2f}".format(x["Item Price"]), axis=1)
item_group_val["Total Purchase Value"] = item_group_val.apply(lambda x: "${:.2f}".format(x["Total Purchase Value"]), axis=1)
item_top_5_val = item_group_val.head(5)
item_top_5_val

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80