In [1]:
# Import module pandas

import pandas as pd

In [2]:
# Import csv

file_to_load = "Resources/purchase_data.csv"

In [3]:
# Create dataframe with csv data

purchase_data = pd.read_csv(file_to_load)

#purchase_data.head()

In [4]:
# Find the total number of players

count_players = purchase_data["SN"].unique()

#print(f"Total Players: {len(count_players)}")

total_players = len(count_players)
total_players_disp = pd.DataFrame({"Total Players":[total_players]})

total_players_disp

   Total Players
0            576

In [5]:
# Find the number of unique items

unique_items = purchase_data["Item Name"].unique()

#print(f"Number of Uniques Items: {len(unique_items)}")

num_unique_items = len(unique_items)

#print(f"Number of Uniques Items: {num_unique_items}")

In [6]:
# Calculate average purchase price, total number of purchases, and total revenue

total_purchases = purchase_data["Price"].count()
sum_of_purchases = purchase_data["Price"].sum()
average_purchase = sum_of_purchases / total_purchases

#average purchase

In [7]:
#display the Purchasing Analysis in a dataframe table

purchasing_stat = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                                     "Average Price":["${:.2f}".format(average_purchase)],
                                     "Number of Purchases":[total_purchases],
                                     "Total Revenue":["${:.2f}".format(sum_of_purchases)]})
purchasing_stat

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [8]:
#purchase_data["Gender"].value_counts()

In [9]:
# Find the number of male players

male_count = purchase_data.loc[purchase_data["Gender"] == "Male"]

#male_count

male_total = len(male_count["SN"].unique())

#male_total

In [10]:
# Find the percent of male players

male_percent = (male_total / total_players)*100

#male_percent

In [11]:
# Find the number of female players

female_count = purchase_data.loc[purchase_data["Gender"] == "Female"]

#female_count

female_total = len(female_count["SN"].unique())

#female_total

In [12]:
# Find the percent of female players

female_percent = (female_total / total_players)*100

#female_percent

In [13]:
# Find the number of other/non-disclosed players

other_count = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]

#other_count

other_total = len(other_count["SN"].unique())

#other_total

In [14]:
# Find the percent of other/non-disclosed players

other_percent = (other_total / total_players)*100
#other_percent

In [15]:
# Display the Gender Demographics in a dataframe table by creating colums and formatting

gender_counts = pd.DataFrame({"Total Count":{"Male":male_total,
                                     "Female":female_total,
                                     "Other / Non-Disclosed":other_total},
                              "Percentage of Players":{"Male":"{:.2f}%".format(male_percent),
                                                       "Female":"{:.2f}%".format(female_percent),
                                                       "Other / Non-Disclosed":"{:.2f}%".format(other_percent)}})
gender_counts.index.name = "Gender"

gender_counts

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [16]:
# Find the number of purchases by males, females and other

male_purchase_count = len(male_count)

female_purchase_count = len(female_count)

other_purchase_count = len(other_count)

#male_purchase_count

#female_purchase_count

#other_purchase_count

In [17]:
# Create a variable to search the purchase_data dataframe for males, females and other/non-disclosed only

male =  purchase_data.loc[purchase_data['Gender']=="Male"]

female =  purchase_data.loc[purchase_data['Gender']=="Female"]

other =  purchase_data.loc[purchase_data['Gender']=="Other / Non-Disclosed"]

#male

In [18]:
# Find the average purchase prices for male, female, other

male_average_price = male["Price"].mean()

#male_average_price

female_average_price = female["Price"].mean()

#female_average_price

other_average_price = other["Price"].mean()

#other_average_price

In [19]:
# Find the total purchase values for male, female, other

male_total_price = male["Price"].sum()

#male_total_price

female_total_price = female["Price"].sum()

#female_total_price

other_total_price = other["Price"].sum()

#other_total_price

In [20]:
# Find the average purchase prices per person by gender; male, female, other

male_average_player = male_total_price / male_total

#male_average_player

female_average_player = female_total_price / female_total

#female_average_player

other_average_player = other_total_price / other_total

#other_average_player

In [21]:
# Display the gender Purchasing Analysis in a dataframe table by creating colums and formatting

gender_purchasing_analysis = pd.DataFrame({"Purchase Count":{"Male":male_purchase_count,
                                     "Female":female_purchase_count,
                                     "Other / Non-Disclosed":other_purchase_count},
                              "Average Purchase Price":{"Male":"${:.2f}".format(male_average_price),
                                                       "Female":"${:.2f}".format(female_average_price),
                                                       "Other / Non-Disclosed":"${:.2f}".format(other_average_price)},
                             "Total Purchase Value":{"Male":"${:.2f}".format(male_total_price),
                                                       "Female":"${:.2f}".format(female_total_price),
                                                       "Other / Non-Disclosed":"${:.2f}".format(other_total_price)},
                            "Total Purchase per Person":{"Male":"${:.2f}".format(male_average_player),
                                                       "Female":"${:.2f}".format(female_average_player),
                                                       "Other / Non-Disclosed":"${:.2f}".format(other_average_player)}})
gender_purchasing_analysis.index.name = "Gender"

gender_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [22]:
# Put ages into bins and create a new column in the purchase_datd dataframe with these bins

#purchase_data["Age"].describe()

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


pd.cut(purchase_data["Age"], age_bins, labels=age_labels)

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)

#purchase_data.head()

In [23]:
# Find the player count by age group

age_count_un10 = purchase_data.loc[purchase_data["Age Range"] == "<10"]
age_total_un10 = len(age_count_un10["SN"].unique())

#age_total_un10

In [24]:
age_count_10_14 = purchase_data.loc[purchase_data["Age Range"] == "10-14"]
age_total_10_14 = len(age_count_10_14["SN"].unique())

#age_total_10_14

In [25]:
age_count_15_19 = purchase_data.loc[purchase_data["Age Range"] == "15-19"]
age_total_15_19 = len(age_count_15_19["SN"].unique())

#age_total_15_19

In [26]:
age_count_20_24 = purchase_data.loc[purchase_data["Age Range"] == "20-24"]
age_total_20_24 = len(age_count_20_24["SN"].unique())

#age_total_20_24

In [27]:
age_count_25_29 = purchase_data.loc[purchase_data["Age Range"] == "25-29"]
age_total_25_29 = len(age_count_25_29["SN"].unique())

#age_total_25_29

In [28]:
age_count_30_34 = purchase_data.loc[purchase_data["Age Range"] == "30-34"]
age_total_30_34 = len(age_count_30_34["SN"].unique())

#age_total_30_34

In [29]:
age_count_35_39 = purchase_data.loc[purchase_data["Age Range"] == "35-39"]
age_total_35_39 = len(age_count_35_39["SN"].unique())

#age_total_35_39

In [30]:
age_count_40 = purchase_data.loc[purchase_data["Age Range"] == "40+"]
age_total_40 = len(age_count_40["SN"].unique())

#age_total_40

In [31]:
# Find the percentage of players based on age

percent_un10 = (age_total_un10 / total_players)*100

#percent_un10

In [32]:
percent_10_14 = (age_total_10_14 / total_players)*100

#percent_10_14

In [33]:
percent_15_19 = (age_total_15_19  / total_players)*100

#percent_15_19

In [34]:
percent_20_24 = (age_total_20_24  / total_players)*100

#percent_20_24

In [35]:
percent_25_29 = (age_total_25_29  / total_players)*100

#percent_25_29

In [36]:
percent_30_34 = (age_total_30_34  / total_players)*100

#percent_30_34

In [37]:
percent_35_39 = (age_total_35_39 / total_players)*100

#percent_35_39

In [38]:
percent_40 = (age_total_40 / total_players)*100

#percent_40

In [39]:
# Display the age counts in a dataframe graph

age_amounts = pd.DataFrame({"Total Count":{"<10":age_total_un10,
                                     "10-14":age_total_10_14,
                                     "15-19":age_total_15_19,
                                         "20-24":age_total_20_24,
                                     "25-29":age_total_25_29,
                                     "30-34":age_total_30_34,
                                         "35-39":age_total_35_39,
                                     "40+":age_total_40},
                              "Percentage of Players":{"<10":"{:.2f}%".format(percent_un10),
                                     "10-14":"{:.2f}%".format(percent_10_14),
                                     "15-19":"{:.2f}%".format(percent_15_19),
                                         "20-24":"{:.2f}%".format(percent_20_24),
                                     "25-29":"{:.2f}%".format(percent_25_29),
                                     "30-34":"{:.2f}%".format(percent_30_34),
                                         "35-39":"{:.2f}%".format(percent_35_39),
                                     "40+":"{:.2f}%".format(percent_40)}})
age_amounts.index.name = "Age Range"

age_amounts

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [40]:
# Find the purchase counts for each age group

purchase_count_un10= len(age_count_un10)
purchase_count_10_14= len(age_count_10_14)
purchase_count_15_19= len(age_count_15_19)
purchase_count_20_24= len(age_count_20_24)
purchase_count_25_29= len(age_count_25_29)
purchase_count_30_34= len(age_count_30_34)
purchase_count_35_39= len(age_count_35_39)
purchase_count_40= len(age_count_40)

# purchase_count_un10
# purchase_count_10_14
# purchase_count_15_19
# purchase_count_20_24
# purchase_count_25_29
# purchase_count_30_34
# purchase_count_35_39
# purchase_count_40

In [41]:
# Find the average purchase price for each age group

average_price_un10 = purchase_data.loc[purchase_data["Age Range"]=="<10"].Price.mean()
average_price_10_14 = purchase_data.loc[purchase_data["Age Range"]=="10-14"].Price.mean()
average_price_15_19 = purchase_data.loc[purchase_data["Age Range"]=="15-19"].Price.mean()
average_price_20_24 = purchase_data.loc[purchase_data["Age Range"]=="20-24"].Price.mean()
average_price_25_29 = purchase_data.loc[purchase_data["Age Range"]=="25-29"].Price.mean()
average_price_30_34 = purchase_data.loc[purchase_data["Age Range"]=="30-34"].Price.mean()
average_price_35_39 = purchase_data.loc[purchase_data["Age Range"]=="35-39"].Price.mean()
average_price_40 = purchase_data.loc[purchase_data["Age Range"]=="40+"].Price.mean()
               
# average_price_un10
# average_price_10_14
# average_price_15_19
# average_price_20_24
# average_price_25_29
# average_price_30_34
# average_price_35_39
# average_price_40

In [42]:
# Find the total purchase value for each age group

total_price_un10 = purchase_data.loc[purchase_data["Age Range"]=="<10"].Price.sum()
total_price_10_14 = purchase_data.loc[purchase_data["Age Range"]=="10-14"].Price.sum()
total_price_15_19 = purchase_data.loc[purchase_data["Age Range"]=="15-19"].Price.sum()
total_price_20_24 = purchase_data.loc[purchase_data["Age Range"]=="20-24"].Price.sum()
total_price_25_29 = purchase_data.loc[purchase_data["Age Range"]=="25-29"].Price.sum()
total_price_30_34 = purchase_data.loc[purchase_data["Age Range"]=="30-34"].Price.sum()
total_price_35_39 = purchase_data.loc[purchase_data["Age Range"]=="35-39"].Price.sum()
total_price_40 = purchase_data.loc[purchase_data["Age Range"]=="40+"].Price.sum()

# total_price_un10
# total_price_10_14
# total_price_15_19
# total_price_20_24
# total_price_25_29
# total_price_30_34
# total_price_35_39
# total_price_40

In [43]:
# Find the Avergae Total per Person by Age Group

average_person_price_un10 = total_price_un10 / age_total_un10
average_person_price_10_14 = total_price_10_14 / age_total_10_14
average_person_price_15_19 = total_price_15_19 / age_total_15_19
average_person_price_20_24 = total_price_20_24 / age_total_20_24
average_person_price_25_29 = total_price_25_29 / age_total_25_29
average_person_price_30_34 = total_price_30_34 / age_total_30_34
average_person_price_35_39 = total_price_35_39 / age_total_35_39
average_person_price_40 = total_price_40 / age_total_40

# average_person_price_un10
# average_person_price_10_14
# average_person_price_15_19
# average_person_price_20_24
# average_person_price_25_29
# average_person_price_30_34
# average_person_price_35_39
# average_person_price_40

In [44]:
# Display the Age Demographics in a dataframe table by creating colums and formatting

age_purchasing_analysis = pd.DataFrame({"Purchase Count":{"<10":purchase_count_un10,
                                     "10-14":purchase_count_10_14,
                                      "15-19":purchase_count_15_19,
                                       "20-24":purchase_count_20_24,
                                        "25-29":purchase_count_25_29,
                                     "30-34":purchase_count_30_34,
                                         "35-39":purchase_count_35_39,
                                         "40+":purchase_count_40},
                              "Average Purchase Price":{"<10":"${:.2f}".format(average_price_un10),
                                                       "10-14":"${:.2f}".format(average_price_10_14),
                                                       "15-19":"${:.2f}".format(average_price_15_19),
                                                       "20-24":"${:.2f}".format(average_price_20_24),
                                                       "25-29":"${:.2f}".format(average_price_25_29),
                                                       "30-34":"${:.2f}".format(average_price_30_34),
                                                        "35-39":"${:.2f}".format(average_price_35_39),
                                                       "40+":"${:.2f}".format(average_price_40)},
                             "Total Purchase Value":{"<10":"${:.2f}".format(total_price_un10),
                                                       "10-14":"${:.2f}".format(total_price_10_14),
                                                       "15-19":"${:.2f}".format(total_price_15_19),
                                                       "20-24":"${:.2f}".format(total_price_20_24),
                                                       "25-29":"${:.2f}".format(total_price_25_29),
                                                       "30-34":"${:.2f}".format(total_price_30_34),
                                                        "35-39":"${:.2f}".format(total_price_35_39),
                                                       "40+":"${:.2f}".format(total_price_40)},
                            "Total Purchase per Person":{"<10":"${:.2f}".format(average_person_price_un10),
                                                       "10-14":"${:.2f}".format(average_person_price_10_14),
                                                       "15-19":"${:.2f}".format(average_person_price_15_19),
                                                       "20-24":"${:.2f}".format(average_person_price_20_24),
                                                       "25-29":"${:.2f}".format(average_person_price_25_29),
                                                       "30-34":"${:.2f}".format(average_person_price_30_34),
                                                        "35-39":"${:.2f}".format(average_person_price_35_39),
                                                       "40+":"${:.2f}".format(average_person_price_40)}})
age_purchasing_analysis.index.name = "Age Range"

age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [45]:
# Find the top 5 spenders by grouping based on player

sn_group = purchase_data.groupby("SN").agg({"Price": ["count", "mean", "sum"]})

#sn_group

# Create columns for the dataframe

sn_group.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]

# Sort the dataframe based on total purchase value

sn_group = sn_group.sort_values("Total Purchase Value", ascending=False)

# Format

sn_group["Average Purchase Price"] = sn_group.apply(lambda x: "${:.2f}".format(x["Average Purchase Price"]), axis=1)

sn_group["Total Purchase Value"] = sn_group.apply(lambda x: "${:.2f}".format(x["Total Purchase Value"]), axis=1)

# Only show top 5

sn_top_5 = sn_group.head(5)

# Display the dataframe table for Top Spenders

sn_top_5

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [46]:
# Find the top 5 most popular items by grouping by item ID and Name

item_group = purchase_data.groupby(["Item ID", "Item Name"]).agg({"Item Name": "count", "Price": ["mean","sum"]})

#item_group

# Create columns labels for dataframe

item_group.columns = ["Purchase Count", "Item Price", "Total Purchase Value"]

# Sort based on purchase count

item_group_pop = item_group.sort_values("Purchase Count", ascending=False)

#item_group_pop

# Format

item_group_pop["Item Price"] = item_group_pop.apply(lambda x: "${:.2f}".format(x["Item Price"]), axis=1)

item_group_pop["Total Purchase Value"] = item_group_pop.apply(lambda x: "${:.2f}".format(x["Total Purchase Value"]), axis=1)

# Only want top 5

item_top_5_pop = item_group_pop.head(5)

# Display dataframe table for Most Popular Items

item_top_5_pop

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [47]:
# Find top 5 spenders from the previous item grouped by dataframe, sort based on total purchase value

item_group_val = item_group.sort_values("Total Purchase Value", ascending=False)

#item_group_val

# Format

item_group_val["Item Price"] = item_group_val.apply(lambda x: "${:.2f}".format(x["Item Price"]), axis=1)

item_group_val["Total Purchase Value"] = item_group_val.apply(lambda x: "${:.2f}".format(x["Total Purchase Value"]), axis=1)

# Only want top 5

item_top_5_val = item_group_val.head(5)

# Display dataframe table for Most Profitable Items

item_top_5_val

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80